@charset "utf-8";
@import url('./reset.css');

/* 변수 */
:root {
  /* 컬러 */
  --primary100: #CBFEFE;
  --primary200: #97F6FD;
  --primary300: #63E5F9;
  --primary400: #3DCFF4;
  --primary500: #00ADEE;
  --primary600: #0086CC;
  --primary700: #0064AB;
  --primary800: #00478A;
  --primary900: #003372;
  --primary: var(--primary500);

  --white: #fff;
  --black: #18181C;

  --grey100: #F9FAFB;
  --grey200: #F4F6F8;
  --grey300: #DFE3E8;
  --grey400: #C4CDD5;
  --grey500: #919EAB;
  --grey600: #637381;
  --grey700: #454F5B;
  --grey800: #212B36;
  --grey900: #161C24;
  --grey: var(--grey500);

  --green100: #F1FCCE;
  --green200: #E0F99F;
  --green300: #C5ED6C;
  --green400: #A7DC47;
  --green500: #7FC613;
  --green600: #65AA0D;
  --green700: #4F8E09;
  --green800: #3A7206;
  --green900: #2C5F03;
  --green: var(--green500);

  --red100: #FFEADA;
  --red200: #FFD0B5;
  --red300: #FFB090;
  --red400: #FF9175;
  --red500: #FF5F47;
  --red600: #DB3C33;
  --red700: #B72327;
  --red800: #931623;
  --red900: #7A0D21;
  --red: var(--red500);

  /* 폰트 */
  --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --font-large: 20px;
  --font-middle: 18px;
  --font-base: 16px;
  --font-small: 14px;
  --font-xsmall: 12px;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --line-height: 1.4;
  --line-height2: 1.6;

  /* 레이아웃 */
  --body-gutter: 20px;
  --header-width: 260px;
  --min-width: 1200px;
  --chat-icon-size: 30px;
}

/* 공통 */
* {box-sizing: border-box;}
body {font-size: var(--font-base);font-family: var(--font-family);line-height: 1;letter-spacing: 0;word-break: keep-all;}
a {color: var(--black);text-decoration: none;}
input, textarea, button {color: var(--black);font-size: var(--font-base);font-family: var(--font-family);}
::-webkit-scrollbar {width: 8px;height: 8px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {border-radius: 5em;background: var(--grey300);}
::-webkit-scrollbar-thumb:hover {background: var(--grey400);}

/* 레이아웃 */
#wrap {}
.container {overflow-x: auto;position: relative;min-width: calc(var(--min-width) - var(--header-width) - var(--body-gutter) * 2);min-height: 100vh;margin-left: calc(var(--header-width) + var(--body-gutter) * 2);padding: calc(var(--body-gutter) * 2) var(--body-gutter);padding-left: 0;}
.contents {min-height: calc(100vh - var(--body-gutter) * 4 - 40px);padding-bottom: 100px;}

/* 분할 */
.common-divider {margin: 30px 0;border-top: 1px solid var(--grey300);}

/* 버튼 */
.common-button-group {display: flex;align-items: center;flex-wrap: wrap;gap: 8px;}
.common-button {display: inline-block;padding: 8px 18px;border: 0;border-radius: 5px;background: var(--primary);color: var(--white);font-size: var(--font-middle);font-weight: var(--font-medium);line-height: var(--line-height);cursor: pointer;transition: background 0.3s;}
.common-button:hover {background: var(--primary600);}
.common-button.round {border-radius: 20px;}

/* 칩 */
.common-chip-group {display: flex;align-items: center;flex-wrap: wrap;gap: 8px;margin-bottom: 10px;}
.common-chip {display: inline-block;padding: 6px 14px;border: 0;border-radius: 15px;background: var(--grey300);color: var(--grey800);font-size: var(--font-small);font-weight: var(--font-medium);line-height: var(--line-height);cursor: pointer;transition: background 0.3s;}
.common-chip:hover {background: var(--grey400);}

/* 폼 */
.common-input-text {display: inline-block;width: 100%;padding: 10px;border: 1px solid var(--grey400);border-radius: 5px;line-height: var(--line-height);}
.common-input-text.round {border-radius: 20px;}
.common-textarea {display: inline-block;width: 100%;height: 300px;padding: 10px;border: 1px solid var(--grey400);border-radius: 5px;line-height: var(--line-height);resize: none;}

/* 헤더 */
.header {overflow-y: auto;z-index: 999;position: fixed;top: 50%;left: var(--body-gutter);transform: translate(0, -50%);width: var(--header-width);height: calc(100vh - var(--body-gutter) * 2);padding: 20px;border-radius: 15px;background: var(--primary);box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 30px;}
.header-logo {margin-bottom: 40px;}
.header-logo a {display: flex;align-items: center;gap: 5px;}
.header-logo img {width: 70px;}
.header-logo span {color: var(--white);font-size: var(--font-large);font-weight: var(--font-bold);line-height: var(--line-height);}
.header-copy {position: absolute;left: 20px;bottom: 20px;}
.header-copy p {color: var(--white);font-size: var(--font-xsmall);line-height: var(--line-height);}

.gnb {}
.gnb-list {}
.gnb-item:not(:last-child) {margin-bottom: 10px;}
.gnb-item a {display: flex;align-items: center;gap: 8px;padding: 12px 14px;border-radius: 10px;color: var(--white);transition: background 0.3s;}
.gnb-item a:hover {background: var(--primary600);}
.gnb-item i[class*="ri-"] {font-size: var(--font-large);}
.gnb-item span {font-size: var(--font-middle);line-height: var(--line-height);}
.gnb-item.active a {background: var(--primary700);}
.gnb-item.active span {font-weight: var(--font-bold);}

/* 푸터 */
.footer {padding-top: 20px;border-top: 1px solid var(--grey300);}
.footer p {color: var(--grey);font-size: var(--font-xsmall);line-height: var(--line-height);}

/* 설명 */
.desc-section {}

/* 쿼리 */
.query-section {}
.query-title {margin-bottom: 12px;}
.query-title h6 {color: var(--primary);font-size: var(--font-middle);font-weight: var(--font-bold);line-height: var(--line-height);}

.query-form {width: 800px;}
.query-input:not(:last-child) {margin-bottom: 10px;}

.query-submit {margin-top: 10px;}
.query-submit .common-button {min-width: 100px;}

.query-output {margin-top: 30px;}
.query-output-box {padding: 15px;border-radius: 15px;background: var(--grey200);}
.query-output-contents {color: var(--black);font-size: var(--font-base);line-height: var(--line-height2);}
.query-output-list {padding-left: calc(15px + 10px);list-style: decimal;}
.query-output-list li:not(:last-child) {margin-bottom: 5px;line-height: var(--line-height);}
.query-output-sup {vertical-align: super;color: var(--primary);font-size: var(--font-small);line-height: var(--line-height);}

.query-origin {margin-top: 20px;}
.query-origin-row {padding: 20px 10px;border-bottom: 1px solid var(--grey300);}
.query-origin-title {display: flex;align-items: center;gap: 10px;margin-bottom: 10px;font-weight: var(--font-medium);line-height: var(--line-height);}
.query-origin-title .title-sup {flex-shrink: 0;color: var(--primary);font-size: var(--font-small);}
.query-origin-title .title-news {flex-shrink: 0;color: var(--grey);font-size: var(--font-small);}
.query-origin-title .title-link {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: var(--grey700);font-size: var(--font-base);font-weight: var(--font-bold);text-decoration: underline;transition: color 0.3s;}
.query-origin-title .title-link:hover {color: var(--primary);}
.query-origin-title .title-date {flex-shrink: 0;color: var(--grey400);font-size: var(--font-xsmall);}
.query-origin-text {color: var(--grey700);font-size: var(--font-small);font-weight: var(--font-medium);line-height: var(--line-height2);}
.query-origin-text em {background: rgba(0, 173, 238, 0.15);color: var(--primary);}

.query-table {width: 100%;text-align: center;}
.query-table thead tr {border: 1px solid var(--grey300);border-left: 0;border-right: 0;background: var(--grey200);}
.query-table tbody tr {border-bottom: 1px solid var(--grey300);}
.query-table th,
.query-table td {padding: 12px 16px;font-size: var(--font-base);line-height: var(--line-height);}
.query-table th {color: var(--grey900);font-weight: var(--font-bold);}
.query-table td {color: var(--grey700);}

.query-chat {position: relative;border: 1px solid var(--grey300);border-radius: 15px;}
.query-chat-contents {overflow-y: auto;height: 400px;}
.query-chat-message {position: relative;min-height: calc(var(--chat-icon-size) + 15px * 2);padding: 15px;padding-left: calc(var(--chat-icon-size) + 15px + 10px);}
.query-chat-icon {display: inline-flex;justify-content: center;align-items: center;position: absolute;top: 15px;left: 15px;width: var(--chat-icon-size);height: var(--chat-icon-size);border: 1px solid var(--grey400);border-radius: 5px;}
.query-chat-icon i {color: var(--grey);font-size: var(--font-middle);}
.query-chat-text {color: var(--grey900);font-size: var(--font-middle);line-height: var(--line-height);}
.query-chat-message.type-chat {border: 1px solid var(--grey300);border-left: 0;border-right: 0;background: var(--grey200);}
.query-chat-message.type-chat .query-chat-icon {border-color: var(--primary);background: var(--primary);}
.query-chat-message.type-chat .query-chat-icon i {color: var(--white);}
.query-chat-input {position: relative;padding: 15px;}
.query-chat-input .common-input-text {padding-left: 14px;padding-right: calc(14px * 2 + 68px);}
.query-chat-input .common-button {display: inline-flex;justify-content: center;align-items: center;position: absolute;top: 50%;right: calc(15px + 6px);transform: translate(0, -50%);width: 36px;height: 36px;padding: 0;border-radius: 50%;}
.query-chat-input .common-button i {font-size: var(--font-large);}