@charset "utf-8";

/* 
 * 공통 스타일
 */

* {box-sizing: border-box;}
body {font-family: 'NanumSquare', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-size: 16px;font-weight: 400;line-height: 1.5;letter-spacing: -0.05em;word-break: keep-all;color: #000;}
section, article {position: relative;}
figure {margin: 0;line-height: 1;}
b, strong {font-weight: bold;}
img {display: inline-block;max-width: 100%;vertical-align: top;}
a:hover, a:active, a:visited, a:-webkit-any-link {text-decoration: none;color: #000;}

/* common class */
.common-inner {position: relative;max-width: 1200px;margin: 0 auto;outline: 1px solid yellowgreen;}
.common-inner::after {content: '';display: block;clear: both;}
.common-clear::after {content: '';display: block;clear: both;}
.common-section {padding-top: 128px;background: #ccdd79;}
.common-content {}
.common-content-tit {width: 160px;height: 80px;margin: 0 auto;border-radius: 50% / 100% 100% 0 0;padding-top: 20px;text-align: center;font-size: 22px;background: #4ba634;color: #fff;}
.common-content-tit::before {content: '';display: block;width: 18px;height: 20px;margin: 0 auto 5px;background: url('../images/icon_apple.png') center / 100% auto no-repeat;}
.common-content-box {border-top: 8px solid #4ba634;background: #fff;}

.common-t-show {display: none;}
.common-m-show {display: none;}

/* wrap */
#wrap {position: relative;}

/* header */
#header {z-index: 10;position: absolute;top: 0;left: 0;width: 100%;border-top: 8px solid #2d751b;padding-top: 40px;}

/* hero */
.hero-section {padding: 120px 0 40px;background: url('../images/hero_bg_tile.jpg') repeat;}
.hero-tit {margin-bottom: 15px;text-align: center;}
.hero-tit h1 {margin-bottom: 45px;}
.hero-tit p {font-size: 28px;color: #fff;}
.hero-tit-flag {display: inline-block;margin-bottom: 27px;border-radius: 36px;padding: 7px 30px;font-size: 28px;color: #fff;background: #2d751b;}
.hero-img {width: 90%;margin:0 auto;text-align: center;}

/* gnb */
#gnb {z-index: 10;position: absolute;bottom: -40px;left: 0;width: 100%;}
.gnb-list {display: flex;overflow: hidden;border: 8px solid #ccdd79;border-radius: 36px;}
.gnb-list > li {width: 25%;text-align: center;font-size: 28px;background: #44aa33;}
.gnb-list > li > a {display: block;padding: 11px 0;color: #fff;transition: color 0.3s;}
.gnb-list > li > a:hover {color: #ffff00;}
.gnb-list > li.on {background: #2d751b;}
.gnb-list > li.on > a {color: #ffff00;}

/* snb */
#snb {padding-bottom: 160px;background: #ccdd79;}
.snb-list {display: flex;}

/* footer */
#footer {padding: 76px 0;background: #333;}
.footer-list {display: flex;justify-content: center;}
.footer-list li {margin-right: 62px;}
.footer-list li:last-of-type {margin-right: 0;}

/* tablet */
@media (max-width: 1200px) and (min-width: 641px) {
    /* common class */
    .common-inner {width: 92%;}
    .common-t-show {display: block;}
    .common-t-hide {display: none;}

    /* hero */
    
}

/* mobile */
@media (max-width: 640px) {
    /* common class */
    .common-inner {width: 92%;}
    .common-section {padding-top: 60px;}
    .common-t-show {display: block;}
    .common-t-hide {display: none;}
    .common-m-show {display: block;}
    .common-m-hide {display: none;}

    /* header */
    #header {padding-top: 20px;}
    .header-logo img {width: 150px;}

    /* hero */
    .hero-section {padding-top: 100px;padding-bottom: 0;}
    .hero-tit h1 {width: 90%;margin: 0 auto 30px;}
    .hero-tit p {font-size: 18px;}
    .hero-tit-flag {padding-left: 15px;padding-right: 15px;font-size: 18px;}
    .hero-img {width: 102%;margin-left: -1%;}

    /* gnb */
    #gnb {position: relative;bottom: auto;left: auto;}
    #gnb .common-inner {width: 100%;}
    .gnb-list {border: 0;border-radius: 0;}
    .gnb-list > li {font-size: 18px;}

    /* snb */
    #snb {padding-bottom: 0;padding-top: 60px;}
    #snb .common-inner {width: 100%;}

    /* footer */
    #footer {padding: 24px 0;}
    .footer-list li {margin-right: 40px;}
    .footer-list li a img {width: 140px;}
}