@charset "utf-8";

#header {}
.header-row {display: flex;align-items: center;gap: 50px;height: 80px;}
.header-logo h1 {@include h1;color: $grey900;font-weight: $font-bold;}
.header-logo h1 a {display: inline-flex;align-items: center;gap: 8px;}
.header-logo h1 img {height: 22px;}
.header-logo h1 em {color: $primary;}
.header-logo.type-mois h1 {@include h2;height: 42px;}
.header-logo.type-mois h1 img {height: 42px;}

#gnb {}
.gnb-list {display: flex;align-items: center;gap: 20px;}
.gnb-list > li:not(.active) .list-link:hover {color: $primary;text-decoration: underline;}
.gnb-list > li.active .list-link {color: $primary;}
.gnb-list .list-link {@include h5;color: $grey;font-weight: $font-bold;}